<button class="btn-sm btn-primary" ng-click="cPC.save()" form="postForm">Save</button>
<button class="btn-sm btn-success" ng-click="cPC.publish()" ng-disabled="postForm.$invalid">Publish</button>
<hr>

<div class="row">
    <div class="col-md-6">
      <form name="cPC.postForm" id="postForm">
        
        <input class="form-control" name="title" type="text" placeholder="Title" ng-model="cPC.post.title" ng-required="true" ng-minlength="3"
          ng-pattern="/^[a-zA-Z0-9~@#$^*()_+=[\]{}|\\,.?: -]*$/">
        <div ng-show="cPC.postForm.title.$error.minlength" class="label label-danger">Title is too short.</div>
        <div ng-show="cPC.postForm.title.$invalid && cPC.postForm.title.$dirty" class="label label-danger">Not Valid</div>
        
        <input class="form-control" name="slug" type="text" placeholder="URL" ng-model="cPC.post.slug" ng-required="true" ng-pattern="/^[a-zA-Z0-9-]*$/">
        <div ng-show="cPC.postForm.slug.$invalid && cPC.postForm.slug.$dirty" class="label label-danger">Enter a valid URL. ( alphanumeric & dash are allowed )</div>

        <tags-input placeholder="type and hit enter to add tags"  use-strings="true" ng-model="cPC.post.tags"></tags-input>
        <md-editor id="editz" api="cPC.mdApi"></md-editor>

      </form>
    </div>
    <div class="col-md-6">
        
    </div>
</div>
